body{
  background: $body-colour;
}

.navbar {
  display: flex;
  justify-content: space-between;

  a {
    span.logo-text {
      font-size: 16px;
      font-weight: bold;
      line-height: 2.5;
    }
  }

  .burger-menu {
    cursor: pointer;
    transition: transform 300ms ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}


#sideNavBar{
  z-index: 100;
}

.container-fluid {
  .row {
    .virus-1 {
      width: 70vw;
    }

    .virus-2 {}

    .virus-3 {
      margin-left: $gutter*8;
      margin-top: -$gutter;
    }

    .title {
      width: 60vw;
    }


    form{
      width: 90vw;
      input{
        border: solid 1px lightgrey;
        border-radius: 5px;
        width: 50vw;
      }
      button{
        border: solid white;
        border-radius: 5px;
        background-color: red;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.world-data{
  .world-data-title{
    h5{
      color: #80808078;
      font-weight: 700;
    }
  }
  .row{
    span{
      position: relative;
      top: -8vh;
      font:bold 0.8rem 'Franklin Gothic', sans-serif;
      color: $yellow-colour;
    }
  }
}

@include media-breakpoint-up(sm) {
  .world-data {
    .row{
      span{
        top: -10vh;
        font:bold 1rem 'Franklin Gothic', sans-serif;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .world-data {
    .row{
      span{
        top: -12vh;
        font:bold 1.5rem 'Franklin Gothic', sans-serif;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .world-data {
    .row{
      span{
        top: -18vh;
        font:bold 2rem 'Franklin Gothic', sans-serif;
      }
    }
  }
  .title-lg{
    top: -50vh;
  }
}

@include media-breakpoint-up(xl) {
  .title-lg{
    top: -50vh;
  }
}


footer{
  background-color: $red-colour;
  p{
    color: white;
    font-size: 0.5rem;
    font-family: $body-font;
    margin-bottom: 0px;
  }
}

@include media-breakpoint-up(md) {
  footer{
    p{
      font-size: 1rem;
    }
  }
}



// REPORT HTML
img{
  margin-top: -15px;
}

span#au-confirmed-case, span#au-recovered-case, span#au-death-case, span#au-fatality-case{
  font-size: 2rem;
  margin-left: -25vw;
  color: white;
  font: bold $body-font;
  font-weight: 700;
  width: 100%;
}

@include media-breakpoint-up(md){
  span#au-confirmed-case, span#au-recovered-case, span#au-death-case, span#au-fatality-case{
    margin-left: -15vw;
  }
}

@include media-breakpoint-up(lg){
  span#au-confirmed-case, span#au-recovered-case, span#au-death-case, span#au-fatality-case{
    margin-left: -9vw;
  }
}

.chart{
  canvas{
    background-color: rgba(#cccccc, 0.5);
    padding: 10px 0;
    border-radius: 10px;
  }
}

.contact-banner{
  img.img-fluid:hover{
    box-shadow: 5px 10px  18px rgba(#37c3a4, 0.31);
  }
}


@include media-breakpoint-up(md){
  .nurse{
    top: -25vh;
  }
}
@include media-breakpoint-up(lg){
  .nurse{
    top: -35vh;
  }
}
@include media-breakpoint-up(xl){
  .nurse{
    top: -35vh;
  }
}
