

.sidebar-nav{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(#252525, 0.95);
  transform: translateX(-100vw);



  .navigation{
    margin-top: 10vh;
    padding: 0;
    list-style: none;
    text-align: center;
    .nav-item{
      margin: 70px 0;
      font-weight: bold;
      &:first-child{
        margin-bottom: 15vh;
      }
      a{
        color: white;
        font-size: 1.2rem;
        &:hover{
          text-decoration: line-through white ;
          text-decoration-style: wavy;
          color: $red
        }
      }
    }
  }

  .close-btn{
    position: absolute;
    bottom: 10vh;
    left: 50vw;
    margin-left: -7.5px;
    transform-origin: center center;
    //half of close-btn width
    cursor: pointer;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    &:hover{
      transform:rotate(90deg);
     -ms-transform:rotate(90deg);
     -webkit-transform:rotate(90deg);
    }
  }
}
